@model FdaApp.Models.FDAModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<div style="width:80%;">
    @using (Html.BeginForm("", "", FormMethod.Post, new { enctype = "multipart/form-data", id = "frmFDAIndex" }))
    {
        <div style="height:30px;">
            <div style="width:15%; text-align:left; float:left;"><label for="Type">Type :</label></div>
            <div style="width:25%; text-align:left; float:left;">@Html.DropDownListFor(x => x.SelectedType, new SelectList(Model.FDATypesList, "Value", "Text"), null, new { Id = "ddlType" })</div>

            <div style="width:15%; text-align:left; float:left;">
                <label for="Type">Field :</label>
            </div>
            <div style="width:25%; text-align:left; float:left;">
                @Html.DropDownListFor(x => x.SelectedCount, new SelectList(Model.FDACountsList, "Value", "Text"), null, new { Id = "ddlCount" })
            </div>
        </div>
        <div style="height:30px;" id="dvFromDate">
            <div style="width:15%; text-align:left; float:left;">
                <label for="StartDate">From Date :</label>
            </div>
            <div style="width:25%; text-align:left; float:left;">
                @Html.TextBoxFor(c => c.FromDate, new { id = "FromDate" })
            </div>
            <div style="width:15%; text-align:left; float:left;">
                <label for="StartDate">To Date :</label>
            </div>
            <div style="width:25%; text-align:left; float:left;">
                @Html.TextBoxFor(c => c.ToDate, new { id = "ToDate" })
            </div>
        </div>
        @*<div style="height:30px;" id="dvToDate">
            
        </div>*@
        <div style="height:30px;">
            <div style="width:15%; text-align:left; float:left;">
                <label for="StartDate">No Of Records :</label>
            </div>
            <div style="width:25%; text-align:left; float:left;">
                @Html.TextBoxFor(c => c.Limit, new { id = "txtLimit" })
            </div>
            <div style="width:15%; text-align:left; float:left;">
                <label for="StartDate">Skip :</label>
            </div>
            <div style="width:25%; text-align:left; float:left;">
                @Html.TextBoxFor(c => c.Skip, new { id = "txtSkip" })
            </div>
        </div>

        <div style="height:30px;">
            <div style="width:74%; text-align:right;">
                <input type="button" id="btnShow" value="Show" onclick="ShowResult();" class="btn btn-default" />
                @*<input type="button" id="btnClear" value="Clear" class="btn btn-default" />*@
            </div>
        </div>
        <div style="height:30px;">
            <label id="lblErrorMsg" style="color:red"></label>
        </div>
        <div style="width:80%; margin-top:20px; display:none;" id="divFoodGrid">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr style="background-color:lightgray;">
                        <th class="center">Recall Number</th>
                        <th class="center">Distribution Pattern</th>
                        <th class="center">Product Quantity</th>
                        <th class="center">Report Date</th>
                        <th class="center">Classification</th>
                    </tr>
                </thead>

                <tbody id="griddataFood"></tbody>
            </table>
        </div>
        <div style="width:80%; margin-top:20px; display:none;" id="divDeviceGrid">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr style="background-color:lightgray;">
                        <th class="center">Report Number</th>
                        <th class="center">Manufacturer Contact State</th>
                        <th class="center">Event Type</th>
                        <th class="center">Manufacturer Address 1</th>
                        <th class="center">Manufacturer Postal Code</th>
                    </tr>
                </thead>

                <tbody id="griddataDevice"></tbody>
            </table>
        </div>
        <div style="width:80%; margin-top:20px; display:none;" id="divDrugGrid">
            <table class="table table-striped table-hover table-bordered">
                <thead>
                    <tr style="background-color:lightgray;">
                        <th class="center">Safety ReportId</th>
                        <th class="center">Receive Date</th>
                        <th class="center">Receipt Date</th>
                        <th class="center">Transmission Date</th>
                        <th class="center">Companynumb</th>
                    </tr>
                </thead>

                <tbody id="griddataDrug"></tbody>
            </table>
        </div>
    }
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $('#FromDate').datepicker({
            dateFormat: 'mm-dd-yy',
            changeMonth: true,
            changeYear: true
        }).datepicker("setDate", new Date());
        $('#ToDate').datepicker({
            dateFormat: 'mm-dd-yy',
            changeMonth: true,
            changeYear: true
        }).datepicker("setDate", new Date());

        $("#FromDate").attr('readOnly', 'true');
        $("#ToDate").attr('readOnly', 'true');
        FillCount();

        $('#divFoodGrid').hide();
        $('#divDeviceGrid').hide();
        $('#divDrugGrid').hide();

        $("#ddlType").change(function () {
            FillCount();
            $('#dvFromDate').hide();
            $('#dvToDate').hide();

            $('#divFoodGrid').hide();
            $('#divDeviceGrid').hide();
            $('#divDrugGrid').hide();
        });

        $("#ddlCount").change(function () {
            HidShowDates();
        });

        $('#dvFromDate').hide();
        $('#dvToDate').hide();

        $('#txtLimit').val(10);
    });

    function ShowBlockUI() {
        $.blockUI({
            message: $('#ProgressMessage')
        });
    }

    function HideBlockUI() {
        $.unblockUI();
    }


    function HidShowDates() {
        var etype = document.getElementById("ddlType");
        var selectedtype = etype.options[etype.selectedIndex].text;

        var eCount = document.getElementById("ddlCount");
        var selectedcount = eCount.options[eCount.selectedIndex].value;

        if (selectedtype == "Food" && (selectedcount=="report_date" || selectedcount == "recall_initiation_date")) {
            $('#dvFromDate').show();
            $('#dvToDate').show();
        }
        else if (selectedtype == "Device" && (selectedcount == "date_of_event" || selectedcount == "date_report" || selectedcount == "date_received")) {
            $('#dvFromDate').show();
            $('#dvToDate').show();
        }
        else if (selectedtype == "Drug" && (selectedcount == "receivedate" || selectedcount == "receiptdate" || selectedcount == "transmissiondate")) {
            $('#dvFromDate').show();
            $('#dvToDate').show();
        }
        else {
            $('#dvFromDate').hide();
            $('#dvToDate').hide();
        }
    }

    function ShowResult() {
        $('#lblErrorMsg').text("");
        var _fdate = $('#FromDate').val();
        var _tdate = $('#ToDate').val();
        if (_fdate <= _tdate) {
            var _Limit = $('#txtLimit').val();
            var _Skip = $('#txtSkip').val();

            var etype = document.getElementById("ddlType");
            var selectedtype = etype.options[etype.selectedIndex].text;

            var eCount = document.getElementById("ddlCount");
            var selectedcount = eCount.options[eCount.selectedIndex].value;

            var url = "";
            var _parameters = "";
            if (selectedtype == "Food") {
                url = "http://api.fda.gov/food/enforcement.json";
            }
            else if (selectedtype == "Device") {
                url = "http://api.fda.gov/device/event.json";
            }
            else if (selectedtype == "Drug") {
                //url = "http://api.fda.gov/drug/label.json";
                url = "http://api.fda.gov/drug/event.json";
            }

            _fdate = FormateDateTime(_fdate);
            _tdate = FormateDateTime(_tdate);
            var objEvent = { url: url, fromDate: _fdate, toDate: _tdate, limit: _Limit, skip: _Skip, selectedcount: selectedcount, selectedtype: selectedtype }
            $.ajaxSettings.cache = false;
            $.ajax({
                url: '@Url.Action("GetResult", "FDA")',
                type: 'POST',
                data: objEvent,
                success: function (data) {
                    var row = "";
                    if (data.Message != "") {
                        $('#lblErrorMsg').text(data.Message);
                    }
                   

                    if (selectedtype == "Food") {
                        $.each(data.GridList, function (i, objGriddata) {
                            row += "<tr><td>" + objGriddata.recall_number + "</td><td>" + objGriddata.distribution_pattern + "</td><td>" + objGriddata.product_quantity + "</td><td>" + objGriddata.report_date + "</td><td>" + objGriddata.classification + "</td></tr>";
                        });
                        $('#divFoodGrid').show();
                        $("#griddataFood").html(row);
                        
                        $.each(data.ChartList, function (i, objChartdata) {

                        });
                    }
                    else if (selectedtype == "Device") {
                        $.each(data.GridList, function (i, objGriddata) {
                            row += "<tr><td>" + objGriddata.report_number + "</td><td>" + objGriddata.manufacturer_contact_state + "</td><td>" + objGriddata.event_type + "</td><td>" + objGriddata.manufacturer_g1_address_1 + "</td><td>" + objGriddata.manufacturer_postal_code + "</td></tr>";
                        });
                        $('#divDeviceGrid').show();
                        $("#griddataDevice").html(row);
                        
                        $.each(data.ChartList, function (i, objChartdata) {

                        });
                    }
                    else if (selectedtype == "Drug") {
                        $.each(data.GridList, function (i, objGriddata) {
                            row += "<tr><td>" + objGriddata.safetyreportid + "</td><td>" + objGriddata.receivedate + "</td><td>" + objGriddata.receiptdate + "</td><td>" + objGriddata.transmissiondate + "</td><td>" + objGriddata.companynumb + "</td></tr>";
                        });
                        $('#divDrugGrid').show();
                        $("#griddataDrug").html(row);
                        
                        $.each(data.ChartList, function (i, objChartdata) {

                        });
                    }

                }
            });
        }
        else {
            $('#lblErrorMsg').text("From Date should be less than To date");
            //alert("FromDate should be less than todate");
        }
    }

    function FormateDateTime(date) {
        var dStart = new Date(date);
        var curr_date = dStart.getDate();
        var curr_month = dStart.getMonth()+1;
        var curr_year = dStart.getFullYear();
        if (curr_date.toString.length == 1)
            curr_month = "0" + curr_month;

        if (curr_date.toString.length == 1)
            curr_date = "0" + curr_date;

        return (curr_year + "" + curr_month + "" + curr_date);
    }

    function FillCount() {
        var e = document.getElementById("ddlType");
        var selectedtype = e.options[e.selectedIndex].text;
        var items = "";
        if (selectedtype == "Food") {
            items += "<option value='recall_number'>Recall Number</option>";
            items += "<option value='reason_for_recall'>Reason For Recall</option>";
            items += "<option value='status'>Status</option>";
            items += "<option value='distribution_pattern'>Distribution Pattern</option>";
            items += "<option value='product_quantity'>Product Quantity</option>";
            items += "<option value='recall_initiation_date'>Recall Initiation Date</option>";
            items += "<option value='product_description'>Product Description</option>";
            items += "<option value='state'>State</option>";
            items += "<option value='country'>Country</option>";
            items += "<option value='city'>City</option>";
            items += "<option value='recalling_firm'>Recalling Firm</option>";
            items += "<option value='report_date'>Report Date</option>";
            items += "<option value='classification'>Classification</option>";
        }
        else if (selectedtype == "Device") {
            items += "<option value='report_number'>Report Number</option>";
            items += "<option value='manufacturer_contact_state'>Manufacturer Contact State</option>";
            items += "<option value='event_type'>Event Type</option>";
            items += "<option value='manufacturer_postal_code'>Manufacturer Postal Code</option>";
            items += "<option value='manufacturer_city'>manufacturer_city</option>";
            items += "<option value='reporter_occupation_code'>Reporter Occupation Code</option>";
            items += "<option value='manufacturer_state'>Manufacturer State</option>";
            items += "<option value='date_of_event'>Date Of Event</option>";
            items += "<option value='manufacturer_g1_country'>Manufacturer Country</option>";
            items += "<option value='manufacturer_g1_city'>Manufacturer City</option>";
            items += "<option value='date_report'>Date Report</option>";
            items += "<option value='manufacturer_g1_postal_code'>Manufacturer Postal Code</option>";
            items += "<option value='manufacturer_contact_area_code'>Manufacturer Contact Area Code</option>";
            items += "<option value='date_received'>Date Received</option>";

        }
        else if (selectedtype == "Drug") {
            items += "<option value='safetyreportid'>Safety Reportid</option>";
            items += "<option value='receivedate'>Receive Date</option>";
            items += "<option value='receiptdate'>Receipt Date</option>";
            items += "<option value='transmissiondate'>Transmission Date</option>";
            items += "<option value='companynumb'>Companynumb</option>";
            items += "<option value='patient.reaction.reactionmeddrapt'>Reactionmeddrapt</option>";
            items += "<option value='patient.drug.drugtreatmentdurationunit'>Drug Treatment Duration Unit</option>";
            items += "<option value='patient.drug.drugindication'>Drug Indication</option>";
            items += "<option value='patient.drug.medicinalproduct'>Medicinal Product</option>";
            items += "<option value='patient.drug.drugdosagetext'>Drug Dosage Text</option>";

        }
        $('#ddlCount').html(items);
    }
</script>